<?xml version="1.0" ?>
<robot name="terryjr" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find terryjr_description)/description/links.xacro" />
<xacro:include filename="$(find terryjr_description)/description/joints.xacro" />
<xacro:include filename="$(find terryjr_description)/description/transmissions.xacro" />
<xacro:include filename="$(find terryjr_description)/description/gazebo.xacro" />

</robot>
