<launch>

<rosparam file="$(find terryjr_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="terryjr" args="right_wheel_link_to_base_link_joint_position_controller left_wheel_link_to_base_link_joint_position_controller rear_right_wheel_to_wheel_link_joint_position_controller front_right_wheel_to_wheel_link_joint_position_controller front_left_wheel_to_wheel_link_joint_position_controller rear_left_wheel_to_wheel_link_joint_position_controller mid_balance_link_to_base_link_joint_position_controller right_balance_link_to_mid_balance_link_joint_position_controller left_balance_link_to_mid_balance_link_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/terryjr/joint_states"/>
</node>

</launch>
